@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
   font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;

  }
  body {
   color:whitesmoke;
   background: rgb(24, 24, 24);
   margin:0;
  }
  p{
   font-size: large;
  }
  h2{
   text-align: center;
   border-bottom: solid black 2px;
  }
  .hero {

  }
  .hero .text{

  }
  .his {

  }
  .text-wrapper{
   display: grid;
   grid-template-columns: 2fr 1fr;
   padding: 20px;
  }
  .his .text {
   margin: 0 50px;
  }
 
  .com {
   background: whitesmoke;
   color: black;
   border-radius: 4px;
   padding: 5px 10px;
  }
  .com .text {

  }