@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
   font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;

  }
  body {
   color:whitesmoke;
   background: rgb(24, 24, 24);
   margin:0;
  }
  p{
   font-size: large;
  }
  h2{
   text-align: center;
   border-bottom: solid black 2px;
  }
  .hero {
   display: grid;
   place-items: center;
   background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/laptop.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 60vh;
  }
  .hero .text{
   font-size: x-large;
  }
  .his {
   height: 95vh;
  }
  .text-wrapper{
   display: grid;
   grid-template-columns: 2fr 1fr;
   padding: 20px;
  }
  .his .text {
   margin: 0 50px;
  }
 
  .com {
   background: whitesmoke;
   color: black;
   border-radius: 4px;
   padding: 5px 10px;
  }
  .com .text {

  }