@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
   font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;

  }
body {
    margin:0;

}
header {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}
article h2{
    display: grid;
    justify-content: center;
    
}
h3 {
    font-size: x-large;
    margin-left: 15px;
}
a {
    margin-left: 15px;
    text-decoration: none;
    font-size: large;
    
}