@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
   font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    color:whitesmoke;
    background: rgb(24, 24, 24);
    margin:0;
 }
 
header {
    display: flex;
    justify-content: center;
    white-space: nowrap;
 }

 section header {
    border-bottom: 2px solid whitesmoke;
    margin: 0 350px 0 350px;
 }

article {
    display: grid;
    
}

section {
    display: grid;
    padding: 15px;
    margin: 0 150px 0 150px;
}

 a {
    text-decoration: none;
    color: #4285f4;
    transition-duration: 500ms;
 }

 a:hover {
    cursor:pointer; 
    color: #033485;
    transition-duration: 500ms;
}

aside {
    display: grid;
    justify-items: center;
    place-items: center;
    padding: 50px;
    gap: 105px;
    border-left: 2px solid whitesmoke; 
}

aside h1 {
    display: none;
}
#wrapper {
    display: grid;
    width: 100%;
    height: 100vh;  
    grid-template-areas: 
        "head head ."
        "art art aside"
        "art art aside"
        "foot foot foot"
    ;
}

#wrapper > header {
    grid-area: head;
}

#wrapper > article {
    grid-area: art;
}

#wrapper > aside {
    grid-area: aside;
}

#wrapper > footer {
    grid-area: foot;
    align-self: flex-end;
    margin: 0 0 5px 15px
}
/* Tablet Mode*/
@media only screen and (max-width: 1589px) {
    
    #wrapper {
        grid-template-columns: 1fr;
        grid-template-rows:  0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
            "head"
            "art"
            "aside"
            "foot"
        ;
    }
    #wrapper > footer {
        place-self: center;
    }

    header {
        white-space: normal;
        text-align: center;
    }

    section{
        margin:0;
    }

    section header {
        margin: 0;
    }

    article{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    aside {
        border-left: 0;
        padding: 0;
        gap: 15px;
    }
}
/* Phone Mode*/
@media only screen and (max-width: 800px) {
    h1{
        font-size: 3.5em;
    }
    h2{
        font-size: 3em;
    }
    p {
        font-size: 2.5em;
    }
    
}
    
